@model PasswordGeneratorMvc.ViewModels.PasswordEntryViewModel

<h2>Редагувати</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="All"></div>

    <input asp-for="Title" />
    <span asp-validation-for="Title"></span>

    <input asp-for="Login" />

    <input asp-for="WebsiteUrl" />
    <span asp-validation-for="WebsiteUrl"></span>

    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <textarea asp-for="Notes"></textarea>

    <button type="submit">Зберегти</button>
</form>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}